<div class="team-area de-padding">
	<div class="container">
		<div class="team-wpr grid-4">
			{% for entry in site.leaders %}
				{% assign person = site.people | where: "username",  entry | first %}
				<div class="team-box wow fadeInUp">
					<div class="team-pic">
						<img src="{{ person.image | relative_url }}" alt="{{ person.name }}">
					</div>
					<div class="team-desc">
						<h5 class="fz-20-5">{{ person.name }}</h5>
						<span>{{ person.title }}</span>
					</div>
					<span>{{ person.bio }}</span>
				</div>
			{% endfor %}
		</div>
	</div>
</div>